<style>

.ms-levels .item-thumbnail-left, ms-home .item-thumbnail-left .item-content{
    padding-left: 78px;
    min-height: 80px;
    height:80px;
}


</style>



<ion-view>

	<ion-content class="has-header">

		<div class="ms-levels">

			<div class="ms-levels-background">

				<ion-list>

						<ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" style="background:#333333;">

							<img ng-src="http://app.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{musicDetails.artistPhotoPath}}" style="width:58px;height:58px;">

	                        <h2 style="line-height:18px;color:#FFFFFF;">{{musicDetails.musicName}}</h2>

	                        <p style="padding:0px;margin:0px;line-height:18px;">{{musicDetails.artistName}}</p>
							<!--<span style="vertical-align: middle;color:#FFFFFF !important;"><p class="ms-player-slider" style="padding:0px;margin:0px;line-height:20px;"><input type="range" min=0 max=100 step=1 value=0/>&nbsp;{{musicDetails.totalTime}}</p></span>-->
							
							<div class="ms-player-slider" style="vertical-align: middle;color:#FFFFFF !important;font-size:12px;line-height:20px;"><input type="range" min=0 max=100 step=1 ng-model="timer.value" ng-change="changePosition()"/>&nbsp;&nbsp;{{musicDetails.totalTime}}</div>

							<i ng-if="msPlayer.status == 0 || msPlayer.status == 3" class = "icon ion-play" style="color:#FD6631;font-size:48px;" ng-click="play()"></i>

							<i ng-if="msPlayer.status == 2" class = "icon ion-pause" style="color:#FD6631;font-size:48px;" ng-click="suspend()"></i>

							<i ng-if="msPlayer.status == 1" class = "icon ion-loading-c" style="color:#FD6631;font-size:48px;"></i>

	                    </ion-item>

					</ion-list>

			</div>

			<div class="ms-levels-left">

				<div ng-repeat="track in musicDetails.tracks">

					<div id="" class="ms-level" >
							
						<img class="ms-level-base" src="img/level.png"/>

						<a ng-click="changeSolo(track)">
							<img ng-if="track.solo == false && track.enabled == true" class="ms-level-solo-btn" src="img/solo-disabled-btn.png"/>
							<img ng-if="track.solo == true && track.enabled == true" class="ms-level-solo-btn" src="img/solo-active-btn.png"/>
							<img ng-if="track.enabled == false" class="ms-level-solo-btn" src="img/solo-btn.png"/>
						</a>

						<div class="ms-level-pan">
								<input ng-if="track.enabled == true" type="range" min=-1 max=1 step=0.05 ng-model="track.pan" ng-change="changePan(track)"/>
								<input ng-if="track.enabled == false" type="range" min=-1 max=1 step=0.05 disabled/>
						</div>

						<div class="ms-level-level">
								<input ng-if="track.enabled == true"  type="range" min=0 max=1 step=0.05 ng-model="track.level" ng-change="changeLevel(track)"/>
								<input ng-if="track.enabled == false"  type="range" min=0 max=1 step=0.05 disabled/>
						</div>

						<img class="ms-level-leds-left" src="img/level-led-0.png"/>
						<img class="ms-level-leds-right" src="img/level-led-0.png"/>

						<a ng-click="changeEnabled(track)">
							<img ng-if="msPlayer.status != 1 && track.enabled == true" class="ms-level-instrument" ng-src="img/instruments/{{track.instrumentEnabledImagePath}}"/>
							<img ng-if="track.enabled == false" class="ms-level-instrument" ng-src="img/instruments/{{track.instrumentDisabledImagePath}}"/>
							<img ng-if="msPlayer.status == 1" class="ms-level-instrument" src="img/loading.gif"/>
						</a>
						
						<div class="ms-level-instrument-name">{{track.instrumentName}}</div>

					</div>

				</div>

			</div>

			<div class="ms-levels-right">

				<div class="ms-level">
						
					<img class="ms-level-base" src="img/level.png"/>

					<div class="ms-level-pan">
							<input type="range" min=-1 max=1 step=0.1 ng-model="msPlayer.masterPan" ng-change="changeMasterPan()"/>
					</div>
					<div class="ms-level-level">
							<input type="range" min=0 max=1 step=0.05 ng-model="msPlayer.masterLevel" ng-change="changeMasterLevel()"/>
					</div>

					<img class="ms-level-leds-left" src="img/level-led-6.png"/>
					<img class="ms-level-leds-right" src="img/level-led-2.png"/>
					<img class="ms-level-instrument" src="img/instruments/drum.jpg"/>
					<div class="ms-level-instrument-name">Master</div>

				</div>

			</div>


		</div>

		<div class="row">
            <div class="row" style="padding-top:20px;padding-bottom:20px;text-align:center;">
                <div class="col" ng-if="musicDetails.status != 1">
                	<button class="button small-button-buy" ng-click="go('/searchByType/1/')">
                    	Compre Agora por R$ {{musicDetails.price}}

                    </button>

                    {{debugTxt2}}
                </div>
            </div>
        </div>

	</ion-content>

</ion-view>

