<!DOCTYPE html>
<html ng-app="ionicApp">
    
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <title>Ionic-AngularJS-Cordova</title>
        
        <script src="cordova.js"></script>

        <link href="lib/ionicframework/ionicons.css" rel="stylesheet"/>
        <link href="css/multisongs.css" rel="stylesheet"/>

        <link href="css/level.css" rel="stylesheet"/>
        
        <link href="lib/ionicframework/css/ionic.min.css" rel="stylesheet"/>
        <script src="lib/ionicframework/js/ionic.bundle.js"></script>

        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/indexController.js"></script>
        <script src="js/player.js"></script>
        
        <script src="js/FileTransfer.js"></script>
        <script src="js/ng-cordova.min.js"></script>

    </head>
    
    <body ng-controller="MainController">
        
        

        <ion-nav-bar class="bar bar-header">
            
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-search" ng-click="openSearch()" style="color:#FD6631;"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        
        {{debugTxt}}
        
        <ion-tabs class="tabs-icon-top tabs-positive">

            <ion-tab title="Loja" icon="ion-ios-cart" ng-click="go('/')">
                <ion-nav-view name='store-view'></ion-nav-view>
            </ion-tab>

            <ion-tab title="Favoritos" icon="ion-star" ng-click="go('/wishlist')">
                <ion-nav-view name='favorite-view'></ion-nav-view>
            </ion-tab>

            <ion-tab title="Setlist" icon="ion-ios-list" ng-click="go('/setlist')">
                <ion-nav-view name='setlists-view'></ion-nav-view>
            </ion-tab>

            <ion-tab title="Músicas" icon="ion-ios-musical-notes" ng-click="go('/musics')">
                <ion-nav-view name='musics-view'></ion-nav-view>
            </ion-tab>

            <ion-tab title="Config." icon="ion-gear-a" ng-click="go('/config')">
                <ion-nav-view name='config-view'></ion-nav-view>
            </ion-tab>

        </ion-tabs>


        <script id="templates/login.html" type="text/ng-template">
        
            <ion-modal-view>
                
                <div class="modal">
                
                    <ion-content ng-controller="MainController">

                        <div class="ms-login">

                            <div class="ms-login-title"><p>Você não está logado!</p></div>
                            <div class="ms-login-description" ng-class="descriptionClass">{{description}}</div>

                            <div class="ms-login-label"><p>E-mail</p></div>
                            <div class="ms-login-input"><input type="text" ng-model="loginData.key" ng-focus="cleanErrorMessage()"/></div>
                            <div class="ms-login-label"><p>Senha</p></div>
                            <div class="ms-login-input"><input type="password" ng-model="loginData.password" ng-focus="cleanErrorMessage()"/></div>
                            
                            <div class="row" style="padding:0px;margin:0px;">
                                <div class="col-50">
                                    <div class="ms-login-small-button" ng-click="changeUser()"><p>Login</p></div>
                                </div>
                                <!--
                                <div class="col-50">
                                    <div class="ms-login-forgot"><p>Forgot your password?</p></div>
                                </div>
                                -->
                            </div>


                            <div class="ms-login-second-title"><p>Ou</p></div>
<!-- /*
                            <div class="ms-login-big-button">
                                <img src="../img/google.png"/>
                                <p>Login with Google</p>
                            </div>
                            <div class="ms-login-big-button" ng-click="facebookLogin();">
                                <img src="../img/facebook.png"/>
                                <p>Login with Facebook</p>
                            </div>
*/ -->
                            <div class="ms-login-big-button" ng-click="openCreateAccountModal()">
                                <img src="img/user.png"/>
                                <p>Criar uma conta</p>
                            </div>

                            {{debugTxt}}


                        </div>


                    </ion-content>

                </div>

            </ion-modal-view>

        </script>

        <script id="templates/createAccount.html" type="text/ng-template">
        
            <ion-modal-view>
                
                <div class="modal">
                
                    <ion-content ng-controller="MainController">

                        <div class="ms-create">

                            <div class="ms-create-logo"><img class="ms-config-logo-img" src="img/logo-gray.png"/></div>
                            <div class="ms-create-description" ng-class="descriptionClass">{{description}}</div>

                            <div class="ms-create-label"><p>E-mail</p></div>
                            <div class="ms-create-input"><input type="text" ng-model="createAccountData.key" ng-focus="cleanErrorMessage()"/></div>

                            <div class="ms-create-label"><p>Senha</p></div>
                            <div class="ms-create-input"><input type="text" ng-model="createAccountData.password" ng-focus="cleanErrorMessage()"/></div>                            
                            <div class="ms-create-label"><p>Nome</p></div>
                            <div class="ms-create-input"><input type="text" ng-model="createAccountData.name" ng-focus="cleanErrorMessage()"/></div>
                            
                            <div class="ms-create-label"><p>Idioma</p></div>

                            <div class="ms-create-input">
                                <select class="form-control" ng-model="createAccountData.idiom">
                                    <option value="en-us">English</option>
                                    <option value="pt-br">Português</option>
                                </select>
                            </div>

                            <div class="ms-create-label"><p>País</p></div>

                            <div class="ms-create-input">
                                <select class="form-control" ng-model="createAccountData.country">
                                    <option ng-repeat="country in countries.availableCountries" value="{{country.name}}">{{country.name}}</option>
                                </select>
                            </div>

                            <div class="ms-login-small-button" ng-click="createAccount()"><p>Criar conta</p></div>

                        </div>


                    </ion-content>

                </div>

            </ion-modal-view>

        </script>

    </body>
</html>
