
<ion-view>

    <ion-nav-title>
      {{i18.config.barTitleLabel}}
    </ion-nav-title>


    <ion-content class="has-header">

        <ms-config>

        	<div class="ms-config-container">

		    	<div class="ms-config-logo"><img class="ms-config-logo-img" src="img/logo-gray.png"/></div>

		    	<p ng-if="userType != 1" class="ms-config-description">{{i18.config.subscriptionLabel}}</p>

	        	<div ng-if="userType != 1" class="ms-config-logout"><button class="button small-button-buy" ng-click="subscribe()">{{i18.config.subscriptionButtonLabel}}</button></div>

	        	<div ng-if="userType != 1" class="ms-config-logout"><button class="button small-button" ng-click="logout()">{{i18.general.logoutLabel}}</button></div>

		    	<p ng-if="userType == 1" class="ms-config-description">{{i18.config.descriptionLabel}}</p>

	        	<div ng-if="userType == 1" class="ms-config-logout"><button class="button small-button-buy" ng-click="openLogin()">{{i18.general.loginLabel}}</button></div>

	        	<p class="ms-config-social-title">{{i18.config.socialLabel}}</p>

	        	<div class="ms-config-icon-container">

	        		<div class="icon ion-at ms-config-icon" ng-click="openPage('http://www.multisongs.audio')"></div>

		        	<div class="icon ion-social-facebook ms-config-icon" ng-click="openPage('http://www.facebook.com/multisongs')"></div>

		        	<div class="icon ion-social-googleplus ms-config-icon" ng-click="openPage('https://plus.google.com/u/1/101063306337071898323')"></div>

	        	</div>

	        	<p class="ms-config-social-disclaimer">{{i18.config.disclaimerLabel}}</p>

		    </div>


	    </ms-config>

	</ion-content>

</ion-view>
