<style>

    ms-musics .item-thumbnail-left, ms-musics .item-thumbnail-left .item-content {
        padding-left: 65px !important;
        min-height: 68px !important;
        height:68px !important;
        padding-top: 12px !important;
    }
    
     ms-musics .item-divider {
        border-top:0px !important;
    }


</style>

<ion-view>
    
    <ion-nav-title>
      {{i18.musics.barTitleLabel}}
    </ion-nav-title>

    <ng-include src="'templates/mplayer/miniPlayer.html'">

    </ng-include>


    <ion-content class="has-header">
        
        <ms-musics>

        <div ng-if="miniPlayer.getPlayer().currentMusic && miniPlayer.getDisplayStatus() == miniPlayer.DISPLAY_NORMAL" style="min-height:105px">
        </div>

        <div ng-if="miniPlayer.getPlayer().currentMusic && miniPlayer.getDisplayStatus() == miniPlayer.DISPLAY_MINIMIZED" style="min-height:25px">
        </div>

<!--
            <div class="no-padding" ng-if="musics.length > 0">
                <p class="ms-font-medium ms-font-white" style="font-decoration:none;font-weight:normal;padding-top:10px;padding-left:15px;margin-bottom:0px;padding-bottom:0px;background-color:#333333;">
                    {{i18.musics.recentlyAddedLabel}}
                </p>
            </div>
            

            <div class="row" style="background-color:#333333;color:#ffffff;" ng-if="musics.length > 0">

                <div style="display:block;">

                    <div class="col-33" ng-repeat="music in recentlyAddedMusics" style="float: left;">
                        <a href="#/tracks/{{music.musicId}}">
                            <img class="full-image" ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:100%;"/>
                            <p class="ms-font-medium ms-font-white" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{music.musicName}}</p>
                            <p class="ms-font-little ms-font-white" style="text-align:center;line-height:1.4">{{music.artistName}}</p>
                        </a>
                    </div>

                </div>
                
            </div>
-->
            <div class="row" style="margin:0px;border:0px;padding:0px;padding-top:20px;">
                <div class="col-50" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                    <button ng-class="downloadedClass" ng-click="loadDownloadedSongs()">Músicas baixadas</button>
                </div>
                <div class="col-50" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                    <button ng-class="wishlistClass" ng-click="loadRemovedSongs()">Músicas removidas</button>
                </div>
            </div>

            <div class="row" style="padding-top:20px;padding-bottom:20px;background-color: #f0f0f0;"  ng-if="musics.length == 0 && songType == SONG_TYPE_DOWNLOADED">
                <div class="col-33">
                    <img src="{{environment}}/MultiSongs/api/download/image/{{token}}/download-big.jpg" width="100%" style="margin-left:10px;border:1px;border-style:solid;border-color:#999999;"/>
                </div>
                <div class="col=77">
                    <p style="padding-left:10px;margin-left:10px;vertical-align:center;margin-right:10px;font-size:14px;color:#333333;font-weight: 350;">{{i18.musics.tutorialLabel}}</p>
                    <p ng-bind-html="i18.musics.tutorialDescriptionLabel" style="padding-left:10px;margin-left:10px;vertical-align:center;margin-right:10px;font-size:12px;color:#999999;font-weight: 350;"></p>
                </div>
            </div>
            
            <div ng-if="musics.length > 0" class="row" style="margin:0px;border:0px;padding:0px;padding-top:20px;">

                <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">

                    <p ng-if="songType == SONG_TYPE_DOWNLOADED" class="ms-subtitle">
                        Você ainda pode baixar mais <span class="ms-font-multisongs">{{20 - musics.length}} músicas.</span>
                    </p>

                </div>

            </div>
                
            <div class="row" style="margin:0px;border:0px;padding:0px;">

                <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                    
                    <div class="list" >

                        <div ng-repeat="music in musics">

                            <div class="item item-thumbnail-left item-complex item-icon-right item-content">
                                
                                <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:45px;height:45px;">
<!--
                                <a href="#/tracks/{{music.musicId}}">
                                    <h2 style="line-height:20px;">{{music.musicName}}</h2>
                                    <p style="padding:0px;margin:0px;line-height:20px;">{{music.artistName}}</p>
                                </a>
-->

                                <div ng-click="miniPlayer.play(music.musicId, music.type == 'multitrack'?miniPlayer.getMSPlayer().PLAYER_TYPE_MULTITRACK:miniPlayer.getMSPlayer().PLAYER_TYPE_SINGLETRACK_LOCAL)">
                                    <h2 style="line-height:20px;">{{music.musicName}}</h2>
                                    <progress ng-if="miniPlayer.getPlayer().downloadStarted && miniPlayer.getPlayer().currentMusic.music.musicId == music.musicId" id="_progressbar" max="100" style="width: 100px;height: 5px;display: inline;margin: 0;" value="{{miniPlayer.getPlayer().downloadProgress}}"></progress>
                                    <p ng-if="!miniPlayer.getPlayer().downloadStarted || miniPlayer.getPlayer().currentMusic.music.musicId != music.musicId" style="padding:0px;margin:0px;line-height:20px;">{{music.artistName}}
                                    </p>
                                </div>

                                <i class="icon ion-ios-trash-outline ms-font-multisongs" style="font-size:1.2em;" ng-click="removeSong(music)">
                                    
                                </i>

                            </div>

                        </div>

                    </div>
                    
                </div>

            </div>
                
        </ms-musics>
        
    </ion-content>
    
</ion-view>