<style>

    ms-musics .item-thumbnail-left, ms-musics .item-thumbnail-left .item-content {
        padding-left: 65px;
        min-height: 68px;
        height:68px;
    }
    
     ms-musics .item-divider {
        border-top:0px;
    }


</style>

<ion-view>
    
    <ion-nav-title>
      {{mySongsBarTitle}}
    </ion-nav-title>

    <ion-content class="has-header">
        
        <ms-musics>
        
            <div class="no-padding"  ng-if="recentlyAddedMusics">
                <p class="ms-font-medium ms-font-white" style="font-decoration:none;font-weight:normal;padding-top:10px;padding-left:15px;margin-bottom:0px;background-color:#333333;">
                    ADICIONADAS RECENTEMENTE
                </p>
            </div>
            

            <div class="row" style="background-color:#333333;color:#ffffff;" ng-if="recentlyAddedMusics">

                <div ng-repeat="music in recentlyAddedMusics">

                    <a href="#/tracks/{{music.musicId}}">

                        <div class="col">
                            <img class="full-image" ng-src="http://app.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:100%;"/>
                            <p class="ms-font-medium ms-font-white" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{music.musicName}}</p>
                            <p class="ms-font-little ms-font-white" style="text-align:center;line-height:1.4">{{music.artistName}}</p>
                        </div>

                    </a>

                </div>
                
            </div>
            
            {{teste}}
            
            
            <div class="row" style="margin:0px;border:0px;padding:0px;">
                
                <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                    
                    <div class="list" >

                        <div class="item item-divider" style="background-color:#ffffff;">
                            <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                                PLAYBACKS
                            </p>
                        </div>

                        <div ng-repeat="music in musics">

                            <div class="item item-thumbnail-left item-complex item-icon-right">
                              <a class="item-content" href="#/tracks/{{music.musicId}}">
                                <img ng-src="http://app.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:45px;height:45px;">
                                <h2 style="line-height:20px;">{{music.musicName}}</h2>
                                <p style="padding:0px;margin:0px;line-height:20px;">{{music.artistName}}</p>
                                <i class="icon ion-ios-play ms-font-multisongs" style="font-size:1.2em;"></i>
                              </a>
                            </div>

                        </div>

                    </div>
                    
                </div>

            </div>
                
        </ms-musics>
        
    </ion-content>
    
</ion-view>