<style>

ms-setlist-player .ms-player-slider input[type=range]{
    width:100%;
}

ms-setlist-player .item-thumbnail-left, ms-setlist-player .item-thumbnail-left .item-content{
    padding-left: 65px;
    min-height: 68px;
    height:68px;
}

.active{
    background-color: #999999;
}

.top-image-div {
    background-image: url('img/show.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    border:0px;
    margin:0px;

}

</style>

<ion-view>


    <ion-content>

    <ms-setlist-player>

        <div style="background-color:#000000;">

            <div class="top-image-div">
            </div>

            <div class="row" style="position:absolute;top:0px;left:0px;width:100%;height:120px;">
                <div class="col-33" style="margin-top:10px;margin-bottom:0px;margin-left:10px;">
                    <i class="icon ion-ios-unlocked-outline ms-font-white ms-font-little" style="vertical-align:top;">&nbsp;{{i18.player.modeLabel}}</i>
                </div>
                <div class="col-33" style="margin-top:85px;margin-bottom:0px;text-align:center;">

                    <i ng-if="msPlayer.getPlayer().status.isPlayerInConsistentStatus && !msPlayer.getPlayer().status.isPlaying && !msPlayer.getPlayer().status.isDownloading" class = "icon ion-play" style="color:#FD6631;font-size:48px;" ng-click="play()"></i>

                    <i ng-if="msPlayer.getPlayer().status.isPlayerInConsistentStatus && msPlayer.getPlayer().status.isPlaying" class = "icon ion-pause" style="color:#FD6631;font-size:48px;" ng-click="suspend()"></i>

                    <i class = "icon"><ion-spinner ng-if="msPlayer.getPlayer().status.isDownloading" icon="ios"></ion-spinner></i>

                    <!--<i ng-if="msPlayer.status == 1" class = "icon ion-loading-d" style="color:#FFFFFF;font-size:48px;"></i>-->

                </div>
                <div class="col-33" style="margin-top:0px;margin-bottom:0px;">
                </div>
            </div>

            <!--<img ng-src="img/show.jpg" style="border:0px;margin:0px;width:100%;">-->
            <!--<img style="width: 100%" src="http://upload.wikimedia.org/wikipedia/commons/2/2e/BMW_Z3_1.9L_1998.jpg"/>-->
            <div style="padding-left:10px;padding-right:10px">

                <div class="row" style="padding-bottom:0px !important;padding-top: 0px !important;">
                    <div class="col" style="margin:0px;padding: 0px !important;">
                        <div class="ms-player-slider" style="vertical-align: middle;color:#FFFFFF !important;font-size:12px;line-height:20px;"><input id="slicePlayer"  type="range" min=0 max={{msPlayer.getPlayer().currentMusic.calculatedTotalTime}} step=1 ng-model="msPlayer.getPlayer().currentTime" ng-change="changePosition()"/></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-67" style="margin-top:0px;margin-bottom:0px;text-align:left;">
                        <p class="ms-font-medium ms-font-light-gray" style="margin-bottom: 0px;padding-bottom:0px;">{{msPlayer.getPlayer().currentTimeAsString}}</p>
                    </div>
                    <div class="col-33" style="margin-top:0px;margin-bottom:0px;text-align:right;">
                        <p class="ms-font-medium ms-font-light-gray" style="margin-bottom: 0px;padding-bottom:0px;">{{msPlayer.getPlayer().currentMusic.totalTime}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-67" style="margin-top:0px;margin-bottom:0px;text-align:left;">
                        <p class="ms-font-medium ms-font-white" style="margin-top: 0px;padding-top:0px;margin-bottom: 0px;padding-bottom:0px;">{{msPlayer.getPlayer().currentMusic.musicName}}</p>
                    </div>
                    <div class="col-33" style="margin-top:0px;margin-bottom:0px;text-align:right;">
                        <p ng-if="msPlayer.getPlayer().setlist.timeToNext > -1 && msPlayer.getPlayer().setlist.timeToNext <= 10" class="ms-font-medium ms-font-light-gray" style="margin-top: 0px;padding-top:0px;margin-bottom: 0px;padding-bottom:0px;">{{i18.player.nextLabel}} {{msPlayer.getPlayer().setlist.timeToNext}}s</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-67" style="margin-top:0px;margin-bottom:5px;text-align:left;">
                        <p class="ms-font-little ms-font-light-gray"  style="margin-top: 0px;padding-top:0px;margin-bottom: 0px;padding-bottom:0px;line-height:12px;">{{msPlayer.getPlayer().currentMusic.artistName}}</p>
                    </div>
                    <div class="col-33" style="margin-top:0px;margin-bottom:0px;text-align:right;">
                        <p ng-if="msPlayer.getPlayer().setlist.nextMusic != ''" class="ms-font-little ms-font-light-gray" style="margin-top: 0px;padding-top:0px;margin-bottom: 0px;padding-bottom:0px;line-height:12px;">{{msPlayer.getPlayer().setlist.nextMusic}}</p>
                    </div>
                </div>
                
                
            </div>

            <div class="list">

                <div class="item item-divider item-icon-right" style="background-color:#ffffff;">
                    <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                        {{i18.player.setlistLabel}}
                        <i class="icon ion-ios-cloud-download-outline ms-font-multisongs" style="font-size:2em;"></i>
                    </p>
                </div>



                <ion-list>

                    <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-class="{'activeItem': active}" ng-repeat="music in msPlayer.getPlayer().setlist.musics" ng-click="loadMusic(music.musicId)">

                        <img ng-src="http://www.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:45px;height:45px;"/>

                        <h2 style="line-height:20px;">{{music.musicName}}</h2>

                        <p style="padding:0px;margin:0px;line-height:12px;">{{music.artistName}}</p>

                        <i class="icon ms-font-multisongs" style="font-size:1.5em;z-index:-1;">
                            <div ng-if="music.inicio == 0" class="ms-font-little ms-font-light-gray">{{i18.player.automaticLabel}}</div>
                            <div ng-if="music.inicio == 1" class="ms-font-little ms-font-light-gray">{{i18.player.manualLabel}}</div>
                        </i>

                    </ion-item>

                </ion-list>



            </div>

            <div style="color:#FFFFFF;font-size:20px;">{{debugTxt}}</div>

        </div>

    </ms-setlist-player>

    </ion-content>

</ion-view>