<style>

    ms-search .item-thumbnail-left, ms-search .item-thumbnail-left .item-content {
        padding-left: 65px;
        min-height: 68px;
        height:68px;
    }

    ms-search .item-divider {
        border-top:0px;
    }

</style>

<ion-view view-title="Resultado de Busca">
    
    <ion-nav-title>
      {{storeBarTitle}}
    </ion-nav-title>

    <ion-content>
        
        <ms-search>
        
        <label class="item item-input" style="width:100%;border:none;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar" class="ms-font-big" style="border-color:#333333;border-style=solid;font-size:16px;" ng-model="search.keyword" ng-blur="refreshData()">
            <label ng-click="closeSearchWindow()" class="button button-clear" style="color:#FD6631;">Cancelar</label>
        </label>
        
        <div class="row" style="margin:0px;border:0px;padding:0px;" ng-if="byNameResult.length > 0">
            
            <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                
                <div class="list" >

                    <div class="item item-divider" style="background-color:#ffffff;">
                        <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                            PLAYBACKS COM '{{search.keyword}}'
                        </p>
                    </div>

                    <div ng-repeat="playback in byNameResult">


                        <div class="item item-thumbnail-left item-complex item-icon-right">
                          <a class="item-content" href="#/tracks/{{playback.musicId}}">
                            <img ng-src="http://app.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{playback.artistPhotoPath}}" style="width:45px;height:45px;">
                            <h2 style="line-height:20px;">{{playback.musicName}}</h2>
                            <p style="padding:0px;margin:0px;line-height:20px;">{{playback.artistName}}</p>
                            <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.2em;"></i>
                          </a>
                        </div>

                    </div>

                </div>
                            
            </div>

        </div>
            
        <div class="row" style="margin:0px;border:0px;padding:0px;"  ng-if="byArtistResult.length > 0">
            
            <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">

                <div class="list" >

                    <div class="item item-divider" style="background-color:#ffffff;">
                        <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                            ARTISTAS COM '{{search.keyword}}'
                        </p>
                    </div>

                    <div ng-repeat="playback in byArtistResult">

                        <div class="item item-thumbnail-left item-complex item-icon-right">
                          <a class="item-content" href="#/tracks/{{playback.musicId}}">
                            <img ng-src="http://app.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{playback.artistPhotoPath}}" style="width:45px;height:45px;">
                            <h2 style="line-height:20px;">{{playback.musicName}}</h2>
                            <p style="padding:0px;margin:0px;line-height:20px;">{{playback.artistName}}</p>
                            <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.2em;"></i>
                          </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        
        <div class="row" style="margin:0px;border:0px;padding:0px;" ng-if="byStyleResult.length > 0">
            
            <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">

                <div class="list" >

                    <div class="item item-divider" style="background-color:#ffffff;">
                        <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                            ESTILOS COM '{{search.keyword}}'
                        </p>
                    </div>

                    <div ng-repeat="playback in byStyleResult">

                        <div class="item item-thumbnail-left item-complex item-icon-right">
                          <a class="item-content" href="#/tracks/{{playback.musicId}}">
                            <img ng-src="http://app.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{playback.artistPhotoPath}}" style="width:45px;height:45px;">
                            <h2 style="line-height:20px;">{{playback.musicName}}</h2>
                            <p style="padding:0px;margin:0px;line-height:20px;">{{playback.artistName}} - Estilo: {{playback.style}}</p>
                            <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.2em;"></i>
                          </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
        <div class="row" style="margin:0px;border:0px;padding:0px;" ng-if="byStudioResult.length > 0">
            
            <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">

                <div class="list" >

                    <div class="item item-divider" style="background-color:#ffffff;">
                        <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                            PLAYBACKS DE ESTUDIOS COM '{{search.keyword}}'
                        </p>
                    </div>

                    <div ng-repeat="playback in byStudioResult">

                        <div class="item item-thumbnail-left item-complex item-icon-right">
                          <a class="item-content" href="#/tracks/{{playback.musicId}}">
                            <img ng-src="http://app.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{playback.artistPhotoPath}}" style="width:45px;height:45px;">
                            <h2 style="line-height:20px;">{{playback.musicName}}</h2>
                            <p style="padding:0px;margin:0px;line-height:20px;">{{playback.artistName}} - Estúdio: {{playback.studio}}</p>
                            <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.2em;"></i>
                          </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>
{{t.keyword}}
        {{teste}}
        
        <div class="row" style="margin:0px;border:0px;padding:0px;" ng-if="byAlbumResult.length > 0">
            
            <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">

                <div class="list" >

                    <div class="item item-divider" style="background-color:#ffffff;">
                        <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                            ALBUNS COM '{{search.keyword}}'
                        </p>
                    </div>

                    <div ng-repeat="playback in byAlbumResult">

                        <div class="item item-thumbnail-left item-complex item-icon-right">
                          <a class="item-content" href="#/tracks/{{playback.musicId}}">
                            <img ng-src="http://app.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{playback.artistPhotoPath}}" style="width:45px;height:45px;">
                            <h2 style="line-height:20px;">{{playback.musicName}}</h2>
                            <p style="padding:0px;margin:0px;line-height:20px;">{{playback.artistName}}</p>
                            <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.2em;"></i>
                          </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
        </ms-search>
        
    </ion-content>
    
</ion-view>