<!-- View used to load group of selected musics as Featured Musics or Top Downloads -->

<style>

    ms-search .item-thumbnail-left, ms-search .item-thumbnail-left .item-content {
        padding-left: 85px;
        min-height: 88px;
        height:88px;
    }

    ms-search .item-divider {
        border-top:0px;
    }

</style>

<ion-view view-title="Resultado de Busca">
    
    <ion-nav-title>
      {{i18.store.barTitleLabel}}
    </ion-nav-title>

    <ng-include src="'templates/mplayer/miniPlayer.html'">

    </ng-include>

    <ion-content class="has-header">

        <ms-search>

        <div ng-if="miniPlayer.getPlayer().currentMusic && miniPlayer.getDisplayStatus() == miniPlayer.DISPLAY_NORMAL" style="min-height:105px">
        </div>

        <div ng-if="miniPlayer.getPlayer().currentMusic && miniPlayer.getDisplayStatus() == miniPlayer.DISPLAY_MINIMIZED" style="min-height:25px">
        </div>

            <div class="row" style="margin:0px;border:0px;padding:0px;">
                
                <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                    
                        <ion-list>
                
                            <div class="item item-divider">
                                <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                                    {{i18.search.resultLabel}}
                                </p>
                            </div>
                        
                            <div ng-repeat="music in musics" >

                                <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-click="play(music.musicId)">

                                    <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:65px;height:65px;">

                                    <h2 style="line-height:20px;">{{music.musicName}}</h2>

                                    <p style="padding:0px;margin:0px;line-height:20px;">{{music.artistName}}</p>
                                    <p style="padding:0px;margin-top:4px;line-height:20px;color:#999999;font-size:12px;">{{music.style}}</p>

                                    <ion-option-button style="background-color:#999999;color:#ffffff;" ng-click="changeFavorite({{music}})">
                                        {{i18.general.wishlistButtonLabel}}
                                    </ion-option-button>
<!--
                                    <ion-option-button style="background-color:#FD6631;color:#ffffff;" ng-click="showConfirm({{music.musicId}})">
                                        {{i18.general.buyLabel}} {{music.price}}
                                    </ion-option-button>
-->
                                    <i class="icon ion-play ms-font-multisongs" style="font-size:1.5em;"></i>

                                </ion-item>

                            </div>

                            <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="artist in artists" href="#/searchByType/4/{{artist.artistName}}">

                                <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{artist.artistPhotoPath}}" style="width:65px;height:65px;">
                                
                                <h2 style="line-height:20px;">{{artist.artistName}}</h2>
                                
                                <p style="padding:0px;margin:0px;line-height:20px;">{{artist.style}}</p>
                                <p style="padding:0px;margin-top:4px;line-height:20px;color:#999999;font-size:12px;">{{artist.style}}</p>

                                <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.5em;"></i>
                                
                            </ion-item>

                            
                    </ion-list>
                    
                </div>

            </div>

        </ms-search>

    </ion-content>
    
</ion-view>