<style>
/*
    ms-setlist .item-content {
        padding-left: 65px;
        min-height: 68px;
        height:68px;
    }
*/

ms-setlist .item-right-edit {
    left: 10px;
    width: 40px;
    margin-left: 10px;
    min-height: 68px !important;
    height:68px !important;
}

    ms-setlist .item-thumbnail-left, ms-setlist .item-thumbnail-left .item-content{
        padding-left: 65px;
        min-height: 68px;
        height:68px;
    }

    .item-content {
        min-height: 68px;
        height:68px;
    }


    ms-setlist-selection .item-thumbnail-left, ms-setlist-selection .item-thumbnail-left .item-content{
        padding-left: 65px;
        min-height: 68px;
        height:68px;
    }

    ms-setlist-selection .item-divider {
        border-top:0px;
    }

    a {
        margin:0px;
        padding:0px;
        text-decoration: none;
    }
    
    select {
    
        border: none;
        color: #FD6631;
        background: none;
        z-index: -1;
        
    }

    ms-setlist .item-note {
        padding:0px;
        margin:0px;
        z-index: -1;
    }
    
    ms-setlist .item-divider {
        border-top:0px;
    }
    
    ms-setlist .item-icon-left {
    padding-left: 65px;
    min-height: 68px;
    height:68px;
    }

    
    .toggle input+.track{
      height: 20px;
      width: 30px;
    }

    .toggle input:checked + .track{
        background-color:#FD6631;
        border-color:#FD6631;
    }

    .toggle input:checked + .handle{
        background-color:#FFFFFF;
    }

    .toggle .handle {
      height: 27px !important;
      width: 17px !important;
      padding-top: 6px;
    }


    .setlist-item .ng-enter{
        -webkit-animation: fadeInLeft 1s;
        animation: fadeInLeft 1s;
    }
    
    
    .setlist-item .ng-enter-stagger {
        -webkit-animation-delay:200ms;
        animation-delay:200ms;

        /* override to make sure it's not inherited from other styles */
        -webkit-animation-duration:0;
        animation-duration:0;
    }
    
</style>

<ion-view>

    <ion-nav-title>
      {{i18.setlistDetail.barTitleLabel}}
    </ion-nav-title>

    <ion-content>

        <ms-setlist>

            <div style="background-color:#000000;">
                
                <div class="row">
                    <div class="col col-20" style="">
                        <a ng-if="setlistMusics.length > 0" href="#/player/{{setlistId}}/{{setlistMusics[0].musicId}}"><img src="./img/play.png" width="100%" style="padding-top:8px;"/></a>
                    </div>
                    <div class="col">
                        <div style="padding-right:0px">
                            <p class="ms-font-extra-big ms-font-white" style="margin-bottom: 0px;padding-bottom:15px;padding-top:0px;text-align:right;">{{setlistName}}</p>
                            <p class="ms-font-medium ms-font-white" style="margin-top: 0px;padding-top:0px;margin-bottom: 0px;padding-bottom:0px;text-align:right;">{{setlistMusics.length}} Backing Track(s)</p>
                            <p class="ms-font-medium ms-font-light-gray"  style="margin-top: 0px;padding-top:0px;margin-bottom: 0px;padding-bottom:0px;text-align:right;">{{setlistTime}}s {{i18.setlistDetail.totalTimeLabel}}</p>
                        </div>
                    </div>
                </div>

            </div>
    {{debugTxt}}
            <div class="row" style="margin:0px;border:0px;padding:0px;">

                <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">

                    <div class="list">

                        <div class="item item-divider item-icon-right" style="background-color:#ffffff;" ng-if="setlistMusics.length > 0">
                            <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                                {{i18.setlistDetail.setlistMusicsLabel}}
                                <i class="icon ion-navicon ms-font-multisongs" style="font-size:2em;" ng-click="alterChangePositionStatus()"></i>
                                <!--<i class="icon ion-ios-cloud-download-outline ms-font-multisongs" style="font-size:2em;"></i>-->
                            </p>
                        </div>

                        <div class="row" style="padding-top:20px;padding-bottom:20px;"  ng-if="setlistMusics.length == 0">
                            <div class="col-33">
                                <img src="{{environment}}/MultiSongs/api/download/image/{{token}}/setlist-music-add-big.jpg" width="100%" style="margin-left:10px;border:1px;border-style:solid;border-color:#999999;"/>
                            </div>
                            <div class="col=77">
                                <p style="padding-left:10px;margin-left:10px;vertical-align:center;margin-right:10px;font-size:14px;color:#333333;font-weight: 350;">{{i18.setlistDetail.tutorialDescriptionLabel}}</p>
                                <p ng-bind-html="i18.setlist.tutorialLabel" style="padding-left:10px;margin-left:10px;vertical-align:center;margin-right:10px;font-size:12px;color:#999999;font-weight: 350;"></p>
                            </div>
                        </div>

                        <playbacks>

                            
                            <ion-list show-reorder="showChangeItemPosition">

                                <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="music in setlistMusics">

                                    <ion-reorder-button ng-if="showChangeItemPosition" class="ion-navicon ms-font-multisongs" on-reorder="moveItem(music, $fromIndex, $toIndex)">
                                    </ion-reorder-button>

                                        <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:45px;height:45px;" ng-if="showChangeItemPosition == false"/>


                                    <a href="#/tracks/{{music.musicId}}">

                                        <h2 style="line-height:18px;">{{music.musicName}}</h2>

                                        <p style="padding:0px;margin:0px;line-height:18px;">{{music.artistName}}</p>

                                    </a>
                                   

                                    <i class="icon ms-font-multisongs" style="font-size:1.5em;z-index:-1;" ng-if="showChangeItemPosition == false">
                                        <div class="item-note">

                                            <select ng-model="music.inicio" ng-change="changeMode(music)">
                                                <option value="0" ng-selected="music.inicio == 0">{{i18.setlistDetail.automaticOptionLabel}}</option>
                                                <option value="1" ng-selected="music.inicio == 1">{{i18.setlistDetail.manualOptionLabel}}</option>
                                            </select>

                                        </div>
                                    </i>

                                </ion-item>

                            </ion-list>

                            <div class="item item-thumbnail-left item-complex item-icon-right">
                              <a class="item-content" ng-click="modal.show()">
                                <img src="./img/ios7-plus-outline.png" style="width:45px;height:45px;"/>
                                <h2 class="ms-font-multisongs" style="line-height:34px;padding-top:12px;">{{i18.setlistDetail.addRemoveButtonLabel}}</h2>

                              </a>
                            </div>

                        </playbacks>

                    </div>

                </div>

            </div>

        </ms-setlist>
        
    </ion-content>
    
    <script id="templates/addMusicToSetlist.html" type="text/ng-template">
    
        <ion-modal-view>
            
            <div class="modal">
            
                <ion-content>


                <ms-setlist-selection>

                    <div class="row" style="margin:0px;border:0px;padding:0px;">

                        <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">

                            <div class="list">

                                <div class="item item-divider" style="background-color:#ffffff;">
                                    <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                                        {{i18.setlistDetail.musicSelectionLabel}}
                                    </p>
                                </div>

                                
                                <ion-toggle ng-repeat="music in musics" style="padding:0px;" ng-model="music.added" ng-checked="music.added">
                                    <div class="item-thumbnail-left toggle-small" >
                                    
                                      <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:45px;height:45px;">
                                      <h2>{{music.musicName}}</h2>
                                      <p style="padding:0px;margin:0px;line-height:16px;">{{music.artistName}}</p>
                                    </div>
                                </ion-toggle>
                                                            

                            <div class="row" style="padding-top:20px;padding-bottom:20px;text-align:center;">
                                <div class="col">
                                    <button class="button small-button" ng-click="changeSetList()">
                                      {{i18.general.saveLabel}}
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                        
                    </div>

                     {{debugTxt}}

                    </ms-setlist-selection>

                </ion-content>
                
            </div>
            
        </ion-modal-view>
        
    </script>
    
</ion-view>