<style>

ms-home .item-thumbnail-left, ms-home .item-thumbnail-left .item-content{
    padding-left: 85px;
    min-height: 88px;
    height:88px;
}

artists .item-thumbnail-left, artists .item-thumbnail-left .item-content{
    padding-left: 55px;
    min-height: 58px;
    height:58px;
}

</style>

<ion-view>

    <!--
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="search.keyword" ng-blur="search()"/>
            </label>
            <button class="button button-clear" ng-click="closeSearch()">
                Cancel
            </button>    
    -->
    
    <ion-content class="has-header">
        
    <ms-home>
        
        
        
        <ion-slide-box auto-play="true" does-continue="true" slide-interval=3000 show-pager="false" ng-if='featuredSongs'>
            
            <ion-slide ng-repeat="featuredSong in featuredSongs">

                <div style="background-color:#000000;">

                    <a href="#/featured/{{featuredSong.id}}">

                        <img ng-src="http://www.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{featuredSong.photoPath}}" style="border:0px;margin:0px;width:100%;">
                        <!--<img style="width: 100%" src="http://upload.wikimedia.org/wikipedia/commons/2/2e/BMW_Z3_1.9L_1998.jpg"/>-->
                        <div style="padding-left:10px">
                            <p class="ms-font-big ms-font-white" style="margin-bottom: 0px;padding-bottom:0px;">{{featuredSong.firstRow}}</p>
                            <p class="ms-font-medium ms-font-white" style="margin-top: 0px;padding-top:0px;margin-bottom: 0px;padding-bottom:0px;">{{featuredSong.secondRow}}</p>
                            <p class="ms-font-medium ms-font-light-gray"  style="margin-top: 5px;padding-top:5px;margin-bottom: 0px;padding-bottom:5px;">{{featuredSong.thirdRow}}</p>
                        </div>

                    </a>

                </div>

            </ion-slide>

        </ion-slide-box>
        
        <div class="row">
            <div class="col" style="margin-top:0px;margin-bottom:0px;">
                <p style="margin:0px;padding:0px;">{{i18.store.newSongsLabel}}</p>
            </div>
        </div>

        <div class="row" style="margin:0px;border:0px;padding:0px;">

            <div ng-repeat="music in newSongsRow1" ng-if="newSongsRow1">

                <a href="#/tracks/{{music.musicId}}">

                    <div class="col" style="{{music.margin}};border:0px;padding:0px;">
                        <img class="full-image" ng-src="http://www.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" width="100%" style="width:100%;border:1px;border-color:#dddddd;border-style:solid;"/>
                        <p class="ms-font-medium ms-font-dark-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{music.musicName}}</p>
                        <p class="ms-font-little ms-font-light-gray" style="text-align:center;line-height:1.4">{{music.artistName}}</p>
                    </div>

                </a>

            </div>

        </div>

        <div class="row" style="margin:0px;border:0px;padding:0px;">

            <div ng-repeat="music in newSongsRow2" ng-if="newSongsRow2">

                <a href="#/tracks/{{music.musicId}}">

                    <div class="col" style="{{music.margin}};border:0px;padding:0px;">
                        <img ng-src="http://www.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:100%;border:1px;border-color:#dddddd;border-style:solid;"/>
                        <p class="ms-font-medium ms-font-dark-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{music.musicName}}</p>
                        <p class="ms-font-little ms-font-light-gray" style="text-align:center;line-height:1.4">{{music.artistName}}</p>
                    </div>

                </a>

            </div>

        </div>

        <div class="row">
            <div class="row" style="padding-top:20px;padding-bottom:20px;text-align:center;">
                <div class="col">
                 <button class="button small-button" ng-click="go('/searchByType/1/')">
                      {{i18.store.newSongsButtonLabel}}
                    </button>
                </div>
                
            </div>
        </div>
        
        <div class="row" style="margin:0px;border:0px;padding:0px;">
            <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                
                <ion-list>

                    <div class="item item-divider">
                        <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                            {{i18.store.topSongsLabel}}
                        </p>
                    </div>


                    <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="music in topMusics" href="#/tracks/{{music.musicId}}">

                        <img ng-src="http://www.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:65px;height:65px;">

                        <h2 style="line-height:20px;">{{music.musicName}}</h2>

                        <p style="padding:0px;margin:0px;line-height:20px;">{{music.artistName}}</p>
                        <p style="padding:0px;margin-top:4px;line-height:20px;color:#999999;font-size:12px;">{{music.style}}</p>

                        <ion-option-button style="background-color:#999999;color:#ffffff;" ng-click="changeFavorite({{music}})">
                            {{i18.general.wishlistButtonLabel}}
                        </ion-option-button>

<!-- @TODO - Precisa adicionar esse botao posteriormente-->
<!--
                        <ion-option-button style="background-color:#FD6631;color:#ffffff;" ng-click="showConfirm({{music.musicId}})">
                            {{music.price != "0" ? "Comprar" + music.price : "Baixar"}}
                        </ion-option-button>
-->
                        <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.5em;"></i>

                    </ion-item>

                </ion-list>

            </div>

        </div>

        <div class="row" style="padding-top:20px;padding-bottom:20px;text-align:center;">
            <div class="col">
                <button class="button small-button" ng-click="go('/searchByType/2/')">
                  {{i18.store.topSongsButtonLabel}}
                </button>
            </div>
        </div>

        <ion-list ng-if='styleCards'>

            <div class="item item-divider">
                <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                    {{i18.store.stylesLabel}}
                </p>
            </div>
            <ion-slide-box auto-play="true" does-continue="true" slide-interval=3000 show-pager="false">

                <ion-slide ng-repeat="styleCard in styleCards">

                    <div class="row">
                        <div class="col-25" ng-repeat="musicStyle in styleCard" style="{{musicStyle.margin}}border:0px;margin:0px">
                            <a href="#/searchByType/5/{{musicStyle.name}}">
                                <img class="full-image" ng-src="http://www.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{musicStyle.image}}" width="100%" style="width:100%;border:1px;border-color:#dddddd;border-style:solid;"/>
                                <p class="ms-font-medium ms-font-dark-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{musicStyle.name}}</p>
                            </a>
                        </div>
                    </div>

                </ion-slide>

            </ion-slide-box>

        </ion-list>
        <div class="row" style="padding-top:10px;text-align:center;">
            <div class="col">
            </div>
        </div>
<!--

        <div class="row" style="padding-top:20px;padding-bottom:20px;text-align:center;">
            <div class="col">
                <button class="button small-button" ng-click="go('/searchByType/3/')">
                  {{stylesButtom}}
                </button>
            </div>
        </div>
-->
        <artists>
        
            <div class="row" style="margin:0px;border:0px;padding:0px;">
                <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                    
                    
                    <ion-list>

                        <div class="item item-divider">
                            <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                                {{i18.store.topArtistsLabel}}
                            </p>
                        </div>

                        <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="artist in topArtists" href="#/searchByType/4/{{artist.artistName}}">

                            <img ng-src="http://www.multisongs.audio/MultiSongs/api/download/image/{{token}}/{{artist.artistPhotoPath}}" style="width:35px;height:35px;">

                            <h2 style="line-height:20px;">{{artist.artistName}}</h2>

                            <p style="padding:0px;margin:0px;line-height:20px;">{{artist.style}}</p>

                            <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.5em;"></i>

                        </ion-item>
                        
                    </ion-list>
                </div>

            </div>
            <div class="row" style="padding-top:20px;text-align:center;">
                <div class="col">
                    <button class="button small-button" ng-click="go('/searchByType/3/')">
                      {{i18.store.topArtistsButtonLabel}}
                    </button>
                </div>
            </div>
            <!--button-energized -->
            {{debugTxt}}

        </artists>
<!--
        <a href="#">
            <div class="row" style="margin:0px;border:0px;padding-top:20px;padding-left:0px;padding-right:0px;padding-bottom:0px;">
                <div class="col" style="margin:0px;border:0px;padding:0px;">
                    <img src="img/ouvindo-musica.jpg" width="100%"/>
                </div>
            </div>
        </a>
-->
       <br/>
       <br/>
        
            
            </ms-home>
            
    </ion-content>
    
</ion-view>