<style>

ms-home .item-thumbnail-left, ms-home .item-thumbnail-left .item-content{
    padding-left: 85px;
    min-height: 88px;
    height:88px;
}

ms-mini-player .item-thumbnail-left, ms-mini-player .item-thumbnail-left .item-content{
    padding-left: 68px;
    min-height: 80px;
    height:80px;
}

artists .item-thumbnail-left, artists .item-thumbnail-left .item-content{
    padding-left: 60px;
    min-height: 58px;
    height:58px;
}

</style>

<ion-view>
<!--
    <ms-mini-player>

        <div ng-if="msPlayer.getPlayer().currentMusic" class="bar bar-subheader" style="padding:0px;margin:0px;">

            <div class="ms-levels-background">

                <ion-list ng-if="playerExpanded" style="border-style: none;">

                    <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" style="background:#333333;border-style: none;" ng-style="{'height' : msPlayer.getPlayer().type == msPlayer.PLAYER_TYPE_MULTITRACK?'110px':'110px'}">

                            <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{msPlayer.getPlayer().currentMusic.music.artistPhotoPath}}" style="width:48px;height:48px;">

                        <p ng-if="msPlayer.getPlayer().currentMusic.music.status != 1" style="position:absolute;top:64px;left:5px;width:60px;text-align:center;color:#FFFFFF;">Baixar</p>


                        <h2 style="line-height:20px;margin-bottom:0px;color:#FFFFFF;">{{msPlayer.getPlayer().currentMusic.music.musicName}}</h2>

                        <p style="padding:0px;margin:0px;line-height:15px;">{{msPlayer.getPlayer().currentMusic.music.artistName}} - {{msPlayer.getPlayer().currentMusic.music.style}}</p>

                        <div class="ms-player-slider" style="vertical-align:middle;color:#FFFFFF !important;font-size:12px;line-height:20px;"><input id="slicePlayer" type="range" min=0 max={{msPlayer.getPlayer().currentMusic.calculatedTotalTime}} step=1 ng-model="msPlayer.getPlayer().currentTime" on-release="changePosition()"/><div style="float:right;">&nbsp;{{msPlayer.getPlayer().currentTimeAsString}}</div></div>

                        <div>

                            <div class="file-info-buttons">
                                <a href="#/tracks/{{msPlayer.getPlayer().currentMusic.music.musicId}}">
                                    <div ng-if="msPlayer.getPlayer().type == msPlayer.PLAYER_TYPE_MULTITRACK" class="file-info-button" style="width:60px;background-color:#FD6631 !important;border-color:#FFFFFF;">
                                        <div class="file-info-button-title">Tipo</div>
                                        <div class="file-info-button-value">Multipista</div>
                                    </div>
                                </a>
                                <div ng-click="verifyIfLoginIsNeededBeforeDownload()" ng-if="msPlayer.getPlayer().currentMusic.music.premium" class="file-info-button" style="width:140px;border-style: none;">
                                    <div class="file-info-button-title">Playback Premium</div>
                                    <div class="file-info-button-value">Somente para assinantes</div>
                                </div>
                                <div ng-click="verifyIfLoginIsNeededBeforeDownload()" ng-if="!msPlayer.getPlayer().currentMusic.music.premium" class="file-info-button" style="width:140px;border-style: none;">
                                    <div class="file-info-button-title">Playback Gratuíto</div>
                                    <div class="file-info-button-value">Baixe esse Playback Grátis</div>
                                </div>
                            </div>

                        </div>
                        
                        <i ng-if="msPlayer.getPlayer().status.isPlayerInConsistentStatus && !msPlayer.getPlayer().status.isPlaying && !msPlayer.getPlayer().status.isDownloading" class = "icon ion-play" style="color:#FD6631;font-size:48px;" ng-click="resume()"></i>

                        <i ng-if="msPlayer.getPlayer().status.isPlayerInConsistentStatus && msPlayer.getPlayer().status.isPlaying" class = "icon ion-pause" style="color:#FD6631;font-size:48px;" ng-click="suspend()"></i>

                        <i class = "icon"><ion-spinner ng-if="msPlayer.getPlayer().status.isDownloading" icon="ios"></ion-spinner></i>

                    </ion-item>

                </ion-list>

                <div class="ms-collapse-button" ng-click="changePlayerExpantion()">
                    <i ng-if="playerExpanded" class="icon ion-chevron-up" style="padding-top:4px;"></i>
                    <i ng-if="!playerExpanded" class="icon ion-chevron-down" style="padding-top:4px;"></i>
                </div>

            </div>

        </div>

    </ms-mini-player>


-->

    <ng-include src="'templates/mplayer/miniPlayer.html'">

    </ng-include>

    <ion-content class="has-header">

        <ms-home>
    
        <div ng-if="miniPlayer.getPlayer().currentMusic && miniPlayer.getDisplayStatus() == miniPlayer.DISPLAY_NORMAL" style="min-height:105px">
        </div>

        <div ng-if="miniPlayer.getPlayer().currentMusic && miniPlayer.getDisplayStatus() == miniPlayer.DISPLAY_MINIMIZED" style="min-height:25px">
        </div>

<!--

        <div class="ms-mini-player-main" >

            <div class="ms-mini-player-image-column">
                <img class="ms-mini-player-image" ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{msPlayer.getPlayer().currentMusic.music.artistPhotoPath}}"/>
            </div>

            <div class="ms-mini-player-song-column">

                <p>{{msPlayer.getPlayer().currentMusic.music.musicName}}</p>

            </div>

            <div class="ms-mini-player-control-column">

                <i ng-if="msPlayer.getPlayer().status.isPlayerInConsistentStatus && !msPlayer.getPlayer().status.isPlaying && !msPlayer.getPlayer().status.isDownloading" class = "icon ion-play" style="color:#FD6631;font-size:48px;" ng-click="play()"></i>

                <i ng-if="msPlayer.getPlayer().status.isPlayerInConsistentStatus && msPlayer.getPlayer().status.isPlaying" class = "icon ion-pause" style="color:#FD6631;font-size:48px;" ng-click="suspend()"></i>

                <i class = "icon"><ion-spinner ng-if="msPlayer.getPlayer().status.isDownloading" icon="ios"></ion-spinner></i>

            </div>

        </div>
-->

        <ion-slide-box auto-play="true" does-continue="true" slide-interval=3000 show-pager="false" ng-if='featuredSongs'>
            
            <ion-slide ng-repeat="featuredSong in featuredSongs">

                <div style="background-color:#000000;">

                    <a href="#/featured/{{featuredSong.id}}">

                        <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{featuredSong.photoPath}}" style="border:0px;margin:0px;width:100%;">
                        <!--<img style="width: 100%" src="http://upload.wikimedia.org/wikipedia/commons/2/2e/BMW_Z3_1.9L_1998.jpg"/>-->
                        <div style="padding-left:10px">
                            <p class="ms-font-big ms-font-white" style="margin-bottom: 0px;padding-bottom:0px;">{{featuredSong.firstRow}}</p>
                            <p class="ms-font-medium ms-font-white" style="margin-top: 0px;padding-top:0px;margin-bottom: 0px;padding-bottom:0px;">{{featuredSong.secondRow}}</p>
                            <p class="ms-font-medium ms-font-light-gray"  style="margin-top: 5px;padding-top:5px;margin-bottom: 0px;padding-bottom:5px;">{{featuredSong.thirdRow}}</p>
                        </div>

                    </a>

                </div>

            </ion-slide>

        </ion-slide-box>
        
        <div class="row">
            <div class="col" style="margin-top:0px;margin-bottom:0px;">
                <p style="margin:0px;padding:0px;">{{i18.store.newSongsLabel}}</p>
            </div>
        </div>

        <div class="row" style="margin:0px;border:0px;padding:0px;">

            <div ng-repeat="music in newSongsRow1" ng-if="newSongsRow1">

                <!--<a href="#/tracks/{{music.musicId}}">-->

                <div class="col" style="{{music.margin}};border:0px;padding:0px;" ng-click="miniPlayer.play(music.musicId, miniPlayer.getMSPlayer().PLAYER_TYPE_MULTITRACK)">
                    <img class="full-image" ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" width="100%" style="width:100%;border:1px;border-color:#dddddd;border-style:solid;"/>
                    <p class="ms-font-medium ms-font-dark-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{music.musicName}}</p>
                    <p class="ms-font-little ms-font-light-gray" style="text-align:center;line-height:1.4">{{music.artistName}}</p>
                </div>

                <!--</a>-->

            </div>

        </div>

        <div class="row" style="margin:0px;border:0px;padding:0px;">

            <div ng-repeat="music in newSongsRow2" ng-if="newSongsRow2">

                <!--<a href="#/tracks/{{music.musicId}}">-->

                    <div class="col" style="{{music.margin}};border:0px;padding:0px;" ng-click="miniPlayer.play(music.musicId, miniPlayer.getMSPlayer().PLAYER_TYPE_MULTITRACK)">
                        <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:100%;border:1px;border-color:#dddddd;border-style:solid;"/>
                        <p class="ms-font-medium ms-font-dark-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{music.musicName}}</p>
                        <p class="ms-font-little ms-font-light-gray" style="text-align:center;line-height:1.4">{{music.artistName}}</p>
                    </div>

                <!--</a>-->

            </div>

        </div>

        <div class="row">
            <div class="row" style="padding-top:20px;padding-bottom:20px;text-align:center;">
                <div class="col">
                 <button class="button small-button" ng-click="go('/searchByType/1/')">
                      {{i18.store.newSongsButtonLabel}}
                    </button>
                </div>
                
            </div>
        </div>
        
        <div class="row" style="margin:0px;border:0px;padding-top:20px;padding-left:0px;padding-right:0px;padding-bottom:0px;" ng-click="openPromotion()" ng-if="promotion != null">
            <div class="col" style="margin:0px;border:1px;padding:0px;border-color:#999999;">
                <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{promotion.banner}}" width="100%"/>
            </div>
        </div>
        
        <div class="row" style="margin:0px;border:0px;padding:0px;">
            <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                
                <ion-list>

                    <div class="item item-divider">
                        <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                            {{i18.store.topSongsLabel}}
                        </p>
                    </div>


                    <!--<ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="music in topMusics" href="#/tracks/{{music.musicId}}">-->

                    <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="music in topMusics" ng-click="miniPlayer.play(music.musicId, miniPlayer.getMSPlayer().PLAYER_TYPE_MULTITRACK)">

                        <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:65px;height:65px;">

                        <h2 style="line-height:20px;">{{music.musicName}}</h2>

                        <p style="padding:0px;margin:0px;line-height:20px;">{{music.artistName}}</p>
                        <p style="padding:0px;margin-top:4px;line-height:20px;color:#999999;font-size:12px;">{{music.style}}</p>

                        <ion-option-button style="background-color:#999999;color:#ffffff;" ng-click="changeFavorite({{music}})">
                            {{i18.general.wishlistButtonLabel}}
                        </ion-option-button>

                        <ion-option-button style="background-color:#FD6631;color:#ffffff;" ng-click="verifyIfLoginIsNeededBeforeDownload()">
                            Baixar
                        </ion-option-button>

                        <i class="icon ion-play ms-font-multisongs" style="font-size:1.5em;"></i>

                    </ion-item>

                </ion-list>

            </div>

        </div>

        <div class="row" style="padding-top:20px;padding-bottom:20px;text-align:center;">
            <div class="col">
                <button class="button small-button" ng-click="go('/searchByType/2/')">
                  {{i18.store.topSongsButtonLabel}}
                </button>
            </div>
        </div>

        <ion-list ng-if='styleCards'>

            <div class="item item-divider">
                <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                    {{i18.store.stylesLabel}}
                </p>
            </div>
            <ion-slide-box auto-play="true" does-continue="true" slide-interval=3000 show-pager="false">

                <ion-slide ng-repeat="styleCard in styleCards">

                    <div class="row">
                        <div class="col-25" ng-repeat="musicStyle in styleCard" style="{{musicStyle.margin}}border:0px;margin:0px">
                            <a href="#/searchByType/5/{{musicStyle.name}}">
                                <img class="full-image" ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{musicStyle.image}}" width="100%" style="width:100%;border:1px;border-color:#dddddd;border-style:solid;"/>
                                <p class="ms-font-medium ms-font-dark-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{musicStyle.name}}</p>
                            </a>
                        </div>
                    </div>

                </ion-slide>

            </ion-slide-box>

        </ion-list>
        <!--
        <div class="row" style="padding-top:10px;text-align:center;">
            <div class="col">
            </div>
        </div>
        -->
<!--

        <div class="row" style="padding-top:20px;padding-bottom:20px;text-align:center;">
            <div class="col">
                <button class="button small-button" ng-click="go('/searchByType/3/')">
                  {{stylesButtom}}
                </button>
            </div>
        </div>
-->
        <div class="row" style="margin:0px;border:0px;padding-top:20px;padding-left:0px;padding-right:0px;padding-bottom:20px;" ng-click="openNewRequest()">
            <div class="col" style="margin:0px;border:0px;padding:0px;">
                <img src="img/banner-novos-playbacks.jpg" width="100%"/>
            </div>
        </div>

        <artists>
        
            <div class="row" style="margin:0px;border:0px;padding:0px;">
                <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                    
                    
                    <ion-list>

                        <div class="item item-divider">
                            <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                                {{i18.store.topArtistsLabel}}
                            </p>
                        </div>

                        <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="artist in topArtists" href="#/searchByType/4/{{artist.artistName}}">

                            <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{artist.artistPhotoPath}}" style="width:35px;height:35px;">

                            <h2 style="line-height:20px;">{{artist.artistName}}</h2>

                            <p style="padding:0px;margin:0px;line-height:20px;">{{artist.style}}</p>

                            <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.5em;"></i>

                        </ion-item>
                        
                    </ion-list>
                </div>

            </div>
            <div class="row" style="padding-top:20px;text-align:center;">
                <div class="col">
                    <button class="button small-button" ng-click="go('/searchByType/3/')">
                      {{i18.store.topArtistsButtonLabel}}
                    </button>
                </div>
            </div>
            <!--button-energized -->
            {{debugTxt}}
<!--
    <audio id="teste1" controls crossOrigin="anonymous">  
      <source  src="http://172.21.0.170:8180/MultiSongs/api/download/music/15538755291479481489757-51691165/342/false" type="audio/mp3">
        </source>
    </audio>

    <audio id="teste2" controls crossOrigin="anonymous">  
      <source  src="http://172.21.0.170:8180/MultiSongs/api/download/music/15538755291479481489757-51691165/343/false" type="audio/mp3">
        </source>
    </audio>

    <audio id="teste3" controls crossOrigin="anonymous">  
      <source  src="http://172.21.0.170:8180/MultiSongs/api/download/music/15538755291479481489757-51691165/344/false" type="audio/mp3">
        </source>
    </audio>

    <audio id="teste4" controls crossOrigin="anonymous">  
      <source  src="http://172.21.0.170:8180/MultiSongs/api/download/music/15538755291479481489757-51691165/346/false" type="audio/mp3">
        </source>
    </audio>

    <audio id="teste5" controls crossOrigin="anonymous">  
      <source  src="http://172.21.0.170:8180/MultiSongs/api/download/music/15538755291479481489757-51691165/347/false" type="audio/mp3">
        </source>
    </audio>
-->
        </artists>

        <div class="row" style="margin:0px;border:0px;padding-top:20px;padding-left:0px;padding-right:0px;padding-bottom:0px;" ng-click="openPromotion()" ng-if="promotion != null">
            <div class="col" style="margin:0px;border:1px;padding:0px;border-color:#999999;">
                <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{promotion.banner}}" width="100%"/>
            </div>
        </div>

    </ms-home>
            
    </ion-content>
    
</ion-view>