<style>


    ms-wishlist .item-thumbnail-left, ms-wishlist .item-thumbnail-left .item-content {
        padding-left: 85px;
        min-height: 88px;
        height:88px;

    }

 </style>

<ion-view>
    
    <ion-nav-title>
      {{i18.wishlist.barTitleLabel}}
    </ion-nav-title>

    <ion-content class="has-header">
        
        <ms-wishlist>
        
            <div class="row" style="margin:0px;border:0px;padding:0px;">
                
                <div class="col" style="margin-left:0px;margin-right:0px;border:0px;padding-left:0px;padding-right:0px;">
                    
                    <ion-list>
            
                        <div class="item item-divider" ng-if="wishList.length > 0">
                            <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal;">
                                {{i18.wishlist.playbacksLabel}}
                            </p>
                        </div>

                        <div class="row" style="padding-top:20px;"  ng-if="wishList.length == 0">
                            <div class="col-33">
                                <img src="{{environment}}/MultiSongs/api/download/image/{{token}}/wishlist-add-big.jpg" width="100%" style="margin-left:10px;border:1px;border-style:solid;border-color:#999999;"/>
                            </div>
                            <div class="col=77">
                                <p style="padding-left:10px;margin-left:10px;vertical-align:center;margin-right:10px;font-size:14px;color:#333333;font-weight: 350;">{{i18.wishlist.tutorialLabel}}</p>
                                <p ng-bind-html="i18.wishlist.tutorialDescriptionLabel" style="padding-left:10px;margin-left:10px;vertical-align:center;margin-right:10px;font-size:12px;color:#999999;font-weight: 350;"></p>
                            </div>
                        </div>
                        
                        <ion-item can-swipe="true" class="item-thumbnail-left item-icon-right" ng-repeat="music in wishList" href="#/tracks/{{music.musicId}}">
                            
                            <img ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{music.artistPhotoPath}}" style="width:65px;height:65px;">
                            
                            <h2 style="line-height:20px;">{{music.musicName}}</h2>
                            
                            <p style="padding:0px;margin:0px;line-height:20px;">{{music.artistName}}</p>
                            <p style="padding:0px;margin-top:4px;line-height:20px;color:#999999;font-size:12px;">{{music.style}}</p>

                            <ion-option-button style="background-color:#999999;color:#ffffff;" ng-click="changeFavorite({{music}})">
                                {{i18.general.removeLabel}}
                            </ion-option-button>
                            
                            <ion-option-button style="background-color:#FD6631;color:#ffffff;" ng-click="showConfirm({{music.musicId}})">
                                {{i18.general.buyLabel}} {{music.price}}
                            </ion-option-button>
                            
                            <i class="icon ion-android-more-horizontal ms-font-multisongs" style="font-size:1.5em;"></i>
                            
                        </ion-item>
                        
                    </ion-list>
                        
                </div>

            </div>

            <ion-list>

                <div class="item item-divider" style="background-color:#FFFFFF;border-style:none;" ng-if="wishList.length > 0">
                    <p class="ms-font-big ms-font-dark-gray" style="font-decoration:none;font-weight:normal">
                        {{i18.wishlist.suggestionsLabel}}
                    </p>
                </div>

                <ion-slide-box auto-play="true" does-continue="true" slide-interval=3000 show-pager="false">

                    <ion-slide  ng-repeat="cardSugestion in sugestions">

                        <div class="row">
                            <div class="col-33" style="border:0px;margin:0px;padding-left:3px;padding-right:3px;" ng-repeat="sugestion in cardSugestion">
                                <a href="#/tracks/{{sugestion.musicId}}">
                                    <img class="full-image" ng-src="{{environment}}/MultiSongs/api/download/image/{{token}}/{{sugestion.artistPhotoPath}}" width="100%" style="width:100%;border:1px;border-color:#dddddd;border-style:solid;"/>
                                    <p class="ms-font-medium ms-font-dark-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{sugestion.musicName}}</p>
                                    <p class="ms-font-little ms-font-dark-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{sugestion.artistName}}</p>
                                    <p class="ms-font-little ms-font-light-gray" style="text-align:center;line-height:1.4;margin-bottom:1px;">{{sugestion.style}}</p>
                                </a>
                            </div>
                        </div>

                    </ion-slide>

                </ion-slide-box>

            </ion-list>

        </ms-wishlist>
            
    </ion-content>
    
</ion-view>