.ms-levels {

	width: 100%;
	overflow: hidden;

}

.ms-levels-right {
	width:  80px;
	float:right;
}

.file-info-description{
  font-size: 12px;
  font-weight: 300;
  height: 15px;
  margin-bottom:0px;
}

.file-info-buttons{
  margin-top:3px;
  margin-left:0px;
  color:#FFFFFF;
}

.file-info-button{
  position:relative;
  width: 38px;
  height: 35px;
  border-color: #999999;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  border-radius: 5px;
  float:left;
  margin-right:5px;
  margin-bottom: 5px;
  padding:0px;
  background-color:#444444;
}

a:link, a:visited, a:hover, a:active{
  color:#ffffff;
}


.file-info-button-title{
  font-size: 12px;
  font-weight: 300;
  height: 15px;
  margin-bottom:0px;
}

.file-info-button-value{
  padding-top:0px;
  font-size: 10px;
  height: 15px;
  font-weight: 100;
}

.ms-level-message-window{
  position: absolute;
  bottom: -12px;
  left:10px;
  width:30px;
  height: 15px;
  text-align: center;
  background-color: #333333;
}

.ms-level-message{
  position: absolute;
  left:8px;
  padding-top:0px;
  margin-top:0px;
  vertical-align: center;
  color:#2EB800;
  font-size: 10px;
}

.ms-levels-workspace {
  background-color:#333333;
  width:100%;
  height:290px;
  padding:0px;
}

.ms-levels-background {
  width: 100%;
  height:105px;
  float:left;
  margin-bottom: 5px;
}

.ms-level {

	position: relative;
	width:55px;
	float:left;

}

.ms-level-base {
	position: relative;
	top:0px;
	left:0px;
}

.ms-level-level-btn {

	position: absolute;
	top: 65px;
	left : 31px;

}

.ms-level-mute-btn {

	position: absolute;
	top: 6px;
	left : 42px;

}

.ms-level-solo-btn {

	position: absolute;
	top: 6px;
	left : 14px;

}

.ms-level-leds-left {

	position: absolute;
	top: 43px;
	left : 53px;
	width: 7px !important;

}

.ms-level-leds-right {

	position: absolute;
	top: 43px;
	left : 61px;
	width: 7px !important;

}

.ms-level-instrument-name{

	position: absolute;
	top: 238px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-family: Arial;
	color: #333333;
	font-size: 10px;

}

.ms-level-instrument {

	position: absolute;
	top: 191px;
	left : 7px;
	width: 42px !important;
	height: 42px !important;

}

.ms-level-pan input[type=range]{
  -webkit-appearance: none;
  background: none;
  width:42px;
  height:40px;
  margin:0px;
  padding:0px;
}

/* Tracks Start */
.ms-level-pan input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #333;
  border: none;
}

.ms-level-pan input[type=range]::-ms-track {
  height: 3px;
  background: #333;
  border: none;
}

.ms-level-pan input[type=range]::-moz-range-track {
  height: 3px;
  background: #333;
  border: none;
}

/* Tracks End */

/* Thumbs Start */

/* Safari, Chrome, Opera */
.ms-level-pan input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 3px;
  background: #FD6631;
  margin-top: -6px;
  position: relative;
}

/* IE */
.ms-level-pan input[type=range]::-ms-thumb { 
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 3px;
  background: #FD6631;
  margin-top: -6px;
  position: relative;
}

/* Firefox */
.ms-level-pan input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 3px;
  background: #FD6631;
  margin-top: -6px;
  position: relative;
}


/* Thumbs End */

.ms-level-pan input[type=range]:focus {
  outline: none;
}

.ms-level-level {
	
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);	position: absolute;

	top: 85px;
	left : -25px;
	padding:0px;
	margin:0px;
  margin-bottom: 30px;
}

.ms-level-level input[type=range]{
  -webkit-appearance: none;
  background: none;
  height:20px;
  width:125px;
  margin:0px;
  padding:0px;
}

/* Tracks Start */
.ms-level-level input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #333;
  border: none;
}

.ms-level-level input[type=range]::-ms-track {
  height: 3px;
  background: #333;
  border: none;
}

.ms-level-level input[type=range]::-moz-range-track {
  height: 3px;
  background: #333;
  border: none;
}

/* Tracks End */

/* Thumbs Start */

/* Safari, Chrome, Opera */
.ms-level-level input[type=range]::-webkit-slider-thumb {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  position: absolute;
  border: none;
  margin-top: -9px;
  position: relative;
}

/* IE */
.ms-level-level input[type=range]::-ms-thumb { 
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);	
  position: absolute;
  margin-top: -9px;
  position: relative;
}

/* Firefox */
.ms-level-level input[type=range]::-moz-range-thumb {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);	
  position: absolute;
  margin-top: -9px;
  position: relative;
}


/* Thumbs End */

.ms-level-level input[type=range]:focus {
  outline: none;
}


.ms-level-pan {
  position: absolute;
  top: 150px;
  left : 6px;
  padding:0px;
  margin:0px;
}

.ms-player-slider {
  height:20px;
  line-height: 20px;
}

.ms-player-slider input[type=range]{
  -webkit-appearance: none;
  background: none;
  width:85%;
  height:20px;
  margin:0px;
  margin-top:0px;
  padding:0px;
}

/* Tracks Start */
.ms-player-slider input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: #FFFFFF;
  border: none;
}

.ms-player-slider input[type=range]::-ms-track {
  height: 2px;
  background: #FFFFFF;
  border: none;
}

.ms-player-slider input[type=range]::-moz-range-track {
  height: 2px;
  background: #FFFFFF;
  border: none;
}

/* Tracks End */

/* Thumbs Start */

/* Safari, Chrome, Opera */
.ms-player-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 3px;
  background: #FD6631;
  margin-top: -6px;
  position: relative;
}

/* IE */
.ms-player-slider input[type=range]::-ms-thumb { 
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 3px;
  background: #FD6631;
  margin-top: -6px;
  position: relative;
}

/* Firefox */
.ms-player-slider input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 3px;
  background: #FD6631;
  margin-top: -6px;
  position: relative;
}


/* Thumbs End */

.ms-player-slider input[type=range]:focus {
  outline: none;
}

.ms-buy-button {
  margin-top:0px;
}

.ms-levels-left{
  float:left;
}

.ms-levels-content{
  overflow:auto;
  width:240px;
  height: 290px;
}

.ms-levels-right .ms-level {

  float: right;

}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-pagination-bullet {
  background: #FFFFFF !important;
}